.envelope {
	height: 42px;
	position: relative;
	padding: 4px 8px;
	color: white;
}

.envelope-progress .onyx-progress-bar {
    margin: 1px 1px;
}

/* get rid of cancel button at right of progress button: the button is the
 * whole bar */
.envelope-progress .onyx-progress-button-icon {
    display: none;
}
.envelope-progress .onyx-progress-button-client {
    right: 0px;
    margin-right: 8px;
    /* center envelope titles */
    text-align: center;
}


.envelope-spentamount {
    float: left;
    font-size: 80%;
}

.envelope-name {
    text-align: center;
}

.envelope-capacity {
    float: right;
    font-size: 80%;
}

.envelope-nearly-spent .onyx-progress-bar-bar {
        background: #e06050 url(../enyo-2.0b4-r1-04271509/lib/onyx/images/gradient.png) repeat-x;
}

.envelope-spent .onyx-progress-bar-bar {
        background: #e06050 url(../enyo-2.0b4-r1-04271509/lib/onyx/images/gradient.png) repeat-x;
}


