.envelope-progress .onyx-progress-button-icon {
    visibility: hidden;
}

.envelope-capacity {
    float: right;
}

.envelope-nearly-spent .onyx-progress-bar-bar {
        background: #e06050 url(../enyo-2.0b4-r1-04271509/lib/onyx/images/gradient.png) repeat-x;
}

.envelope-spent .onyx-progress-bar-bar {
        background: #e06050 url(../enyo-2.0b4-r1-04271509/lib/onyx/images/gradient.png) repeat-x;
}


